html,
body {
  height: 100%;
  margin: 0;
}
.content {
  min-height: 100%;
}
.header {
  margin-top: 20px;
  margin-bottom: 5vh;
  width: 50vw;
}
.header a {
  text-decoration: underline;
  color: #7f7f7f;
}

.copyright {
  color: #7f7f7f;
  height: 50px;
  margin-top: -50px;
}

@media (max-width: 426px) {
  .copyright {
    margin-top: 40px;
  }
}

.error-image {
  padding-top: 10px;
  margin: auto;
  width: 25vw;
}

@media (max-width: 425px) {
  .error-image {
    padding-top: 10px;
    margin: auto;
    width: 50vw;
  }
}

.error-image img {
  width: 100%;
  height: 100%;
}

.error-text-top {
  margin-top: 10px;
  padding: 10px;
}
.error-text {
  padding: 10px;
}

@media (max-width: 426px) {
  br {
    display: none;
  }
}

.click-here a,
.need-help a {
  color: #f98731;
  text-decoration: underline;
}

/* End of Error Page */

/* Invalid Session Page */
.session-space {
  margin-top: 10vh;
}

.session-image {
  margin: auto;
  width: 20vw;
}
.session-image img {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .session-image {
    width: 35vw;
  }
}
@media (max-width: 426px) {
  .session-image {
    width: 70vw;
  }
}

.margin-top-4vh {
  margin-top: 4vh;
}
.margin-top-2vh {
  margin-top: 2vh;
}
.message-border {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  padding: 20px;
}
.invalid-session-login a {
  background-color: #f98731;
  color: #fff;
  padding: 10px 50px;
  border-radius: 3px;
  background: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.15));
}

.isp-support a {
  color: #7f7f7f;
  text-decoration: underline;
}
.message-border a {
  color: #7f7f7f;
  text-decoration: underline;
}

/* End of Invalid Session Page */

/* Email Validation Success */
.main-layout {
  display: flex;
}

.es-left-side-desktop {
  width: 50vw;
}

.es-right-side-desktop {
  background-image: url("/images/coreplus-grid.svg");
  background-position: center center;
  background-repeat: no-repeat;
  width: 50vw;
  background-color: #f98731;
  height: 100vh;
}
.es-right-content {
  height: 100vh;
  padding: 50px;
}

.coreplus-logo {
  width: 40%;
  margin: auto;
}
.coreplus-logo img {
  margin-top: 5vh;
  width: 100%;
  height: 100%;
}

.email-success {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.email-success span {
  color: #f98731;
  font-size: 3rem;
}

.email-success-message {
  background-color: #61c5ba;
  margin: auto;
  width: 50%;
  border-radius: 5px;
}
.email-success-message p {
  padding: 10px;
  color: #fff;
  font-size: 2rem;
}

.envelope {
  width: 30%;
  margin: auto;
}

.envelope img {
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 100%;
  height: 100%;
}

.back-to-login a {
  text-decoration: underline;
  color: #676767;
  font-size: 2rem;
}

.need-help-email-success a {
  color: #f98731;
  text-decoration: underline;
  font-size: 2rem;
}
.header-email-success {
  margin-top: 20px;
  margin-bottom: 5vh;
  width: 50vw;
}
.header-email-success a {
  text-decoration: underline;
  color: #7f7f7f;
  font-size: 1.8rem;
}

.copyright-email-success {
  color: #7f7f7f;
  margin-top: 5vh;
}
.copyright-email-success p {
  font-size: 1.8rem;
}

@media (max-width: 1300px) {
  .es-right-side-desktop {
    display: none;
  }
  .es-left-side-desktop {
    width: 100vw;
  }
  .header-email-success {
    width: 100vw;
  }
}

@media (max-width: 1299px) {
  .coreplus-logo {
    width: 20%;
  }
  .email-success span {
    font-size: 2rem;
  }
  .envelope {
    width: 20%;
  }
  .copyright-email-success p {
    font-size: 1.2rem;
  }
  .header-email-success a {
    font-size: 1.2rem;
  }
  .need-help-email-success a {
    font-size: 1.5rem;
  }
  .back-to-login a {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .coreplus-logo {
    width: 30%;
  }
  .envelope {
    width: 20%;
  }
}
@media (max-width: 650px) {
  .email-success-message {
    width: 70%;
  }
  .envelope {
    width: 25%;
  }
}

@media (max-width: 425px) {
  .coreplus-logo {
    width: 40%;
  }
  .email-success-message p {
    font-size: 1.5rem;
  }
  .envelope {
    width: 35%;
  }
  .copyright-email-success p {
    font-size: 1.2rem;
  }
  .header-email-success a {
    font-size: 1.2rem;
  }
}

.es-right-image {
  margin-top: 10vh;
}

.es-right-header {
  margin: 40px 0px;
}
.es-right-header span {
  font-size: 4rem;
  color: #fff;
}
